.mainArea {
  width: 750px;
  height: 659px;
  margin: 90px auto 40px auto;
  padding: 50px;
  border-radius: 4px;
  background: $white;
} 

h1 {
  font-size: 20px;
  font-family: "源ノ角ゴシック JP",Bold;
  color: #3B4043;
  margin-bottom: 30px;
}

h2 {
  font-size: 13px;
  color: #707F89; 
  margin-bottom: 20px;
}
